
<footer>
    <div class="f-info">
        
        <div class="f-info-socials">
            <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                <i class="fa-brands fa-square-facebook"></i>
            </a>

            <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>

            <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>

        <div class="f-info-brand">
            &copy; Wanderlust Private Limited
        </div>

        <div class="f-info-links">Privacy&Terms
        </div>

    </div>
</footer>
